html, body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  color: #6B93A0;
}
html{
  height: 100%;
}
*{box-sizing: border-box;}
body{
  min-height: 100%;
  background-color: #0E1626;
  padding:3px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(4, [row] 1fr );
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: stretch;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
}
.grid-container > div{
  background-color: #1D2C4D;
  /* overflow:hidden;
  border-radius:5px; */
}
.video_container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.info1_container {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.info2_container {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
.info3_container {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
.info4_container {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}
.map_container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
.rec_container {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

/* div[class^="info"] {
  font-family: monospace;
  color: #757575;

  min-height:100%;
  border-radius:5px;
  border: 2px solid black;
  overflow: hidden;
} */
div[class^="info"] > span{
  display: block;
  padding:10px 20px;
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}
div[class^="info"] h3, .rec_container h3{
  text-align: center;
}
#console > pre {
  padding:20px;
}
#hospital_info{
  overflow-x: auto;
}
#hospital_info ul{
  padding:0px;
  margin:0px;
}
