html, body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  color: #6B93A0;
}
html{
  height: 100%;
}
*{box-sizing: border-box;}
body{
  min-height: 100%;
  background-color: #0E1626;
  padding:3px;
}
